{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Person</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<form action="/add-person/" class="railway" method="POST" enctype="multipart/form-data">
<div class="stripes-block">
<div class="line"></div>
</div>
<h3>Создать анкету</h3>
<div class="form-group">
    {% csrf_token %}
  {{ form.as_p }}
</div>
<div class="submit-block">
<div class="submit-button">
<i class="fa fa-train" aria-hidden="true"></i><br>
<input type="submit" value="Добавить">
</div>
</div>
</form>



</body>
</html>